.wiki {
  border-left: 1px solid #AAA;
  padding-left: .2em;
  font-size: 0.9em;
  line-height: 1.6em;
}

.focused {
  border-left: 1px solid #36AECC;
}

a.focused_link {
  background-color: #CDFFFF;
  color: black;
}

div.wiki {
  margin-bottom: 0.5em;
}

#linker-input {
  width: 12em;
  font-size: 1.5em;
  border: none;
}

#linker-text-input {
  width: 12em;
  font-size: 1.5em;
  border: none;
}

#quicklinker {
  width:18em;
  background: #36AECC;
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-5em;
  margin-left:-9em;
  display: none;
  border: solid 1px #36AECC;
  padding-right: 2px;
}

#quickswitcher {
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
  margin-left: 0em;
}

#switcher {
  font-size: 2em;
  font-family: Georgia; line-height:100%; color: #36AECC; font-weight: 400;
  height: 1.1em;
  width: 100%;
}

[contenteditable="true"]:focus { outline: none; }

#html_title {
  font-size: 1.8em;
  font-family: Georgia; line-height:100%; margin-top: 0.5em; margin-bottom: 0; color: #36AECC; font-style: italic; font-weight: 400;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

textarea {
  font-family: Vollkorn; font-size: 100%; line-height: 130%; 
  width: 100%;
  border: none;
}

textarea:hover {
  outline: 1px solid #000;
}

textarea:focus {
  outline: 1px solid #36AECC;
}